Repository Field-Passer/Field-Passer-FE, pull requests merged in 2023-03, with the labels that each got.

#39 Design: 채팅 컴포넌트 구성
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/chatting/ChatBox.tsx
  src/components/chatting/SendMessage.tsx
  src/components/help/FAQ.tsx
  src/components/help/QuestionBox.tsx
  src/pages/BoardForm.tsx
  src/pages/Chatting.tsx
  src/pages/Help.tsx
Labels: Design

#40 Refactor: 관리자 페이지 타입 util 폴더로 변경 & Fix: env 설정 변경
  src/api/core/api.ts
  src/api/request.ts
  src/components/Admin/Main/NewPosts.tsx
  src/components/Admin/Main/NewQuestions.tsx
  src/components/Admin/Main/Post.tsx
  src/components/Admin/Main/Question.tsx
  src/components/Admin/Member/MemberList.tsx
  src/components/Admin/Member/MemberLists.tsx
  src/components/Admin/MemberDetail/Post.tsx
  src/components/Admin/MemberDetail/Posts.tsx
  src/components/Admin/MemberDetail/Profile.tsx
  src/components/Admin/Post/PostList.tsx
  src/components/Admin/Post/PostsLists.tsx
  src/components/Admin/ReportAndQuestion/Question.tsx
  src/components/Admin/ReportAndQuestion/Report.tsx
  src/env.d.ts
  src/pages/Admin/Member.tsx
  src/util/adminPageTypes.ts
Labels: BugFix, Refactor, API

#41 Feat: 회원 관리 페이지 api 연결
  src/api/request.ts
  src/components/Admin/Main/NewPosts.tsx
  src/components/Admin/Member/MemberList.tsx
  src/components/Admin/Member/MemberLists.tsx
  src/components/Admin/MemberDetail/Posts.tsx
  src/components/Admin/MemberDetail/Profile.tsx
  src/pages/Admin/Member.tsx
  src/pages/Admin/MemberDetail.tsx
  src/util/adminPageTypes.ts
Labels: Feature, Design, API

#45 Feat: 관리자 로그인 페이지 api 연결
  package-lock.json
  package.json
  src/api/request.ts
  src/components/Admin/Main/NewPosts.tsx
  src/components/Admin/Main/NewQuestions.tsx
  src/components/Admin/NavBar.tsx
  src/pages/Admin/Login.tsx
Labels: BugFix, Feature, API

#47 Design: 채팅 컴포넌트 디자인 수정
  src/api/request.ts
  src/components/MembersMenu.tsx
  src/components/chatting/ChatBox.tsx
  src/components/chatting/MessageBubble.tsx
  src/components/chatting/SendMessage.tsx
  src/components/help/FAQ.tsx
  src/components/home/imminent/ImminentBoard.tsx
  src/components/home/search/Searchbar.tsx
  src/index.css
  src/pages/Chatting.tsx
  src/util/options.ts
Labels: Design

#48 Feat: 관리자 페이지 수정
  .eslintignore
  .prettierignore
  package-lock.json
  package.json
  src/App.tsx
  src/api/request.ts
  src/components/Admin/Main/Chart.tsx
  src/components/Admin/Main/Charts.tsx
  src/components/Admin/Main/NewQuestions.tsx
  src/components/Admin/NavBar.tsx
  src/components/Admin/ReportAndQuestion/Questions.tsx
  src/components/Admin/ReportAndQuestion/Reports.tsx
  src/pages/Admin/Home.tsx
  src/pages/Admin/Login.tsx
  src/pages/Admin/Member.tsx
  src/pages/Admin/MemberDetail.tsx
  src/pages/Admin/Post.tsx
  src/pages/Admin/PostDetail.tsx
  src/pages/Admin/ReportAndQuestion.tsx
  src/pages/Admin/ReportDetail.tsx
  src/util/dateCalc.ts
  tailwind.config.cjs
Labels: Feature, API

#49 Feat: 웹소켓 연결 테스트코드 추가
  package-lock.json
  package.json
  src/pages/Chatting.tsx
Labels: Feature

#52 Refactor: 채팅 컴포넌트 state코드 수정, 타입코드 이동
  src/components/chatting/ChatBox.tsx
  src/components/chatting/MessageBubble.tsx
  src/components/chatting/chat.ts
  src/components/help/QuestionBox.tsx
  src/pages/Chatting.tsx
  src/util/mainPageTypes.ts
Labels: Refactor

#54 Feat: 관리자 페이지 회원 조회
  package-lock.json
  package.json
  src/api/core/api.ts
  src/api/request.ts
  src/components/Admin/FormDatePicker.tsx
  src/components/Admin/Member/MemberList.tsx
  src/components/Admin/MemberDetail/Post.tsx
  src/components/Admin/Post/PostList.tsx
  src/components/Admin/Post/SearchBox.tsx
  src/components/Admin/ReportAndQuestion/Questions.tsx
  src/components/Admin/ReportAndQuestion/Reports.tsx
  src/pages/Admin/MemberDetail.tsx
  src/pages/Admin/Post.tsx
  src/pages/Join.tsx
  vite.config.ts
Labels: Feature, API

#56 Feat: 메인페이지 API 연결
  package-lock.json
  package.json
  src/api/request.ts
  src/components/PostList.tsx
  src/components/chatting/ChatBox.tsx
  src/components/chatting/MessageBubble.tsx
  src/components/home/NewPostsBoard.tsx
  src/components/home/imminent/BoxForm.tsx
  src/components/home/imminent/ImminentBoard.tsx
  src/components/home/imminent/ImminentList.tsx
  src/components/home/imminent/TableForm.tsx
  src/pages/BoardForm.tsx
  src/pages/Chatting.tsx
  src/util/userPageTypes.ts
  vite.config.ts
Labels: Feature, API

#57 Feat: 게시글 상세페이지 이동기능 추가
  index.html
  src/components/PostList.tsx
  src/components/home/imminent/BoxForm.tsx
  src/components/home/imminent/ImminentBoard.tsx
  src/components/home/imminent/ImminentList.tsx
  src/components/home/imminent/TableForm.tsx
  src/main.tsx
  src/util/userPageTypes.ts
Labels: BugFix, Feature

#59 Feat: 게시글 작성 스키마 추가
  src/components/home/imminent/ImminentBoard.tsx
  src/components/home/imminent/ImminentList.tsx
  src/pages/BoardForm.tsx
Labels: Feature

#61 Feat: 관리자 페이지 게시글 관리 날짜 검색
  index.html
  src/api/request.ts
  src/components/Admin/FormDatePicker.tsx
  src/components/Admin/Main/NewPosts.tsx
  src/components/Admin/Main/Post.tsx
  src/components/Admin/Member/MemberList.tsx
  src/components/Admin/Post/SearchBox.tsx
  src/components/Admin/ReportAndQuestion/Questions.tsx
  src/components/Admin/ReportAndQuestion/Reports.tsx
  src/pages/Admin/Post.tsx
  src/util/adminPageTypes.ts
Labels: Feature, API

#62 Feat: 카테고리 셀렉터 연결
  src/api/request.ts
  src/components/home/NewPostsBoard.tsx
  src/components/home/imminent/ImminentBoard.tsx
  src/pages/BoardDetails.tsx
  src/pages/BoardForm.tsx
Labels: Feature, API

#65 Feat: BoardForm select box 수정
  src/components/boardForm/SelectBox.tsx
  src/pages/BoardForm.tsx
Labels: Feature, API

#67 Feat: 포스팅 기능 구현
  src/main.tsx
  src/pages/BoardForm.tsx
  src/pages/Test.tsx
Labels: Feature, API
